<div class= "container">
	<p>Welcome to Synethsize, a game where the music is cool and the points don't matter! 
	Synthesize imports your playlists from Spotify and assigns each song a color based on its audio features. The game will play a preview of each song and you will guess which color represents each song in your playlist. Colors are based on the HSV color model and are calculated accordingly:
		<ul>
			<li>Hue: An average of the song's key + valence + energy + loudness + danceability + mode</li>
			<li>Saturation: An average of the song's loudness + energy</li>
			<li>Value/Brightness: valence + danceability + tempo</li>
		</ul>
	</p>
</div>
