<div class="playlist-song">
 <h3 class="feedback" style="margin:10px;">{{feedback || "Click on the first song to get started"}}</h3>
  <h4 class="feedback" style="margin:10px;">Score: {{score}}</h4>
  <div ng-class='dynamicClass'>
      <div class="box" style="width:150px;height:150px;margin:10px;background-color:rgb({{songColorOne}})" ng-click = "chosenColor(songColorOne)"></div>
      <div class="box" style="width:150px;height:150px;margin:10px;background-color:rgb({{songColorTwo}})" ng-click = "chosenColor(songColorTwo)"></div>
      <div class="box" style="width:150px;height:150px;;margin:10px;background-color:rgb({{songColorThree}})" ng-click = "chosenColor(songColorThree)"></div>
      <div class="box" style="width:150px;height:150px;margin:10px;background-color:rgb({{songColorFour}})" ng-click = "chosenColor(songColorFour)"></div>
  </div>
   
    <audio class="player" controls ng-src="{{src}}" autoplay>
       <!-- The next line will only be executed if the browser doesn't support the <audio> tag-->
      <p>Your user agent does not support the HTML5 Audio element.</p>
    </audio>
    </div>
    